section {
  height: 100%;
  width: 90%;
  border: 1px solid black;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  padding: 0 2rem;
}

.header-bar-container,
.accordion-tabs-container,
.flexible-cards-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header-bar-container,
.accordion-tabs-container {
  height: 100vh;
}

.flexible-cards-container {
  height: 130vh;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0 0;
  background: magenta;
  width: 100%;
  height: 6rem;
}

.menu-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.closed {
  display: none;
}

.link-container.opened {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  width: 100%
}

.link-container.opened div {
  font-size: 2rem;
  flex: 1;
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.top-row,
.bottom-row {
  display: none;
}

.middle-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 1rem 1rem;
}

.card {
  height: 100%;
  margin: 0.5rem 1rem;
}

.small {
  border: 1px solid black;
  flex: 2;
}

.card-header {
  border-bottom: 1px solid black;
  height: 4.5rem;
  width: 100%;
}

@media screen and (min-width: 555px) {
  .top-row,
  .bottom-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 1rem 1rem;
  }

  .middle-row {
    flex-direction: row;
  }

  .card {
    margin: 0rem 1rem;
  }

  .big {
    border: 1px solid black;
    flex: 4.15;
  }

  .small {
    border: 1px solid black;
    flex: 2;
  }
}


